{{define "_navbar"}}
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
      <div class="d-flex flow-row">
        <a class="navbar-brand" href="/home">
          <img src="/static/images/castanha-som-white.png" alt="Logo" width="30" height="30" />
        </a>
        <div class="d-flex" id="">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="text-decoration: none; color: #000000;" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Instrumentos
              </a>
              <ul class="dropdown-menu" id="instrumentos">
                <li><a class="dropdown-item" href="/products/instruments/guitars">Violão</a></li>
                <li><a class="dropdown-item" href="/products/instruments/basses">Baixo</a></li>
                <li><a class="dropdown-item" href="/products/instruments/eletric_guitars">Guitarra</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="text-decoration: none; color: #000000;" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Acessórios
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/products/acessories/">Capotraste</a></li>
                <li><a class="dropdown-item" href="/products/acessories/">Palheta</a></li>
                <li><a class="dropdown-item" href="/products/acessories/">">Correia</a></li>
              </ul>
            </li>
        </div>
        </ul>
      </div>
      <div class="d-flex" role="search" id="search-field">
        <input class="form-control me-2" type="search" id="search_field" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-primary" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></button>
      </div>
      <div class="d-flex flow-row-reverse">
        <a class="navbar-text p-2" href="" id="user_name" style="text-decoration: none; color: #000000;">User Name</a>
        <a class="nav-bar item p-1" href="" id="user_image" style="text-decoration: none; color: #000000;">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
        </a>
      </div>
    </div>
  </nav>
</header>
<script src="/static/js/navbar.js"></script>
{{end}}
