<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: #504A4A;">
  <div class="container-fluid mt-5 p-5">
    <div class="row justify-content-md-center">
      <div class="col col-sm-3 mr-5">
        <a href="/products/guitars" style="text-decoration: none; color: black;">
          <div class="card" style="width: 100%; height: 100%;">
            <img class="card-img-bot" style="width: 100%; height: 100%;" src="/static/images/black-and-white-guitar.png"
              alt="Card image guitar">
            <div class="card-header" style="height: 10%;">
              <p class="card-text text-center">Violões</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col col-sm-3">
        <a href="/products/eletric-guitars" style="text-decoration: none; color: black;">
          <div class="card" style="width: 100%; height: 100%;">
            <img class="card-img-bot" style="width: 100%; height: 100%;"
              src="/static/images/black-and-white-eletric-guitar.png" alt="Card image eletric guitar">
            <div class="card-header" style="height: 10%;">
              <p class="card-text text-center">Guitarras</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col col-sm-3 ml-5">
        <a href="/products/basses" style="text-decoration: none; color: black;">
          <div class="card" style="width: 100%; height: 100%;">
            <img class="card-img-bot" style="width: 100%; height: 100%;" src="/static/images/black-and-white-bass.png"
              alt="Card image bass">
            <div class="card-header" style="height: 10%;">
              <p class="card-text text-center">Baixos</p>
            </div>
          </div>
      </div>
      </a>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
