<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="/static/js/login.js"></script>
</head>

<body style="background-image: url('/static/images/gray-eletric-guitar-bg-1920x1200.png');">
  <div class="container-fluid text-left align-items-center py-5 col-sm-6">
    <div class="card shadow-2-strong align-items-center px-2 py-3">
      <h3 class="text-center px-2 py-4">Seja Bem-Vindo à Castanha Som</h3>
      <div class="col-sm-7">
        <label for="email" class="col-sm-4 col-form-label">Email:</label>
        <input type="text" class="form-control" id="email" style="background-color: #D9D9D9;">
      </div>
      <div class="col-sm-7">
        <label for="password" class="col-sm-4 col-form-label">Senha:</label>
        <input type="password" class="form-control" id="password" style="background-color: #D9D9D9;">
        <p class="text-left" style="color: red;" id="err"></p>
      </div>
      <div class="col-sm-7 text-center">
        <label class="col-form-label">Ainda não tem uma conta?
          <a href="/static/html/register.html">Cadastre-se agora</a>
        </label>
        <a href="/user/recover_password" class="col-form-label">Esqueci a Senha</a>
      </div>
      <div class="col-sm-7 text-center">
        <br>
        <input type="button" class="btn btn-primary" onclick="login()" value="Enviar">
      </div>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
