<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: gray;">
  <header class="sticky-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <div class="d-flex flow-row">
          <a class="navbar-brand" href="#">
            <img src="/static/images/castanha-som.png" alt="Logo" width="30" height="24"
              class="d-inline-block align-text-top">
          </a>
          <div class="d-flex" id="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="text-decoration: none; color: #000000;" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Instrumentos
                </a>
                <ul class="dropdown-menu" id="instrumentos">
                  <li><a class="dropdown-item" href="#">Guitarra</a></li>
                  <li><a class="dropdown-item" href="#">Baixo</a></li>
                  <li><a class="dropdown-item" href="#">Violão</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="text-decoration: none; color: #000000;" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Acessorios
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Capotraste</a></li>
                  <li><a class="dropdown-item" href="#">Palheta</a></li>
                  <li><a class="dropdown-item" href="#">Correia</a></li>
                </ul>
              </li>
          </div>
          </ul>
        </div>
        <div class="d-flex" role="search" id="search-field">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-primary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg></button>
        </div>
        <div class="d-flex flow-row-reverse">
          <a class="navbar-text p-2" href="" style="text-decoration: none; color: #000000;">User Name</a>
          <a class="nav-bar item p-1" href="" style="text-decoration: none; color: #000000;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>
