<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastrar produto</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: #504A4A;">
  <div class="container-fluid justify-content-md-center">
    <div class="row m-5 p-5 justify-content-md-center">
      <div class="d-inline-flex col col-4">
        <div class="card" style="background-color: white; height: 550px;">
          <div class="card-body">
            <h5 class="card-title">Recomenda-se imagens de 300x300</h5>
          </div>
          <div style="height: 400px;">
            <img src="/static/images/violao-test.jpeg" style="object-fit: cover; width: 100%; height: 100%;"
              id="image_preview" class="card-img-top">
          </div>
          <div class="card-body mt-auto">
            <div class="text-center">
              <input type="button" class="btn btn-success" onclick="triggerUploadBtn()" value="Escolha a imagem">
              <input style="display: none;" type="file" onchange="previewImage()" id="upload_btn">
            </div>
          </div>
        </div>
      </div>
      <div class="col col-7">
        <div class="card" id="form_2" style="background-color: white; height: 440px;">
          <div class="card-body">
            <div class="card-text">
              <div class="row justify-content-md-center mb-1">
                <div class="col col-md-12">
                  <label for="" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="name">
                  <label class="form-label text-danger" id="name_err"></label>
                </div>
              </div>
              <div class="row justify-content-md-center mb-1">
                <div class="col col-sm-6">
                  <label for="in_cash_value" class="form-label">Valor à vista:</label>
                  <input type="text" class="form-control" id="in_cash_value">
                  <label class="form-label text-danger fs-6" id="in_cash_err"></label>
                </div>
                <div class="col col-sm-6">
                  <label for="installments_value" class="form-label">Valor parcelado:</label>
                  <input type="text" class="form-control" id="installments_value">
                  <label class="form-label text-danger" id="installments_err"></label>
                </div>
              </div>
              <div class="row justify-content-md-start mb-1">
                <div class="col col-sm-9 text-start">
                  <label for="description" class="form-label">Descrição:</label>
                  <input type="text" class="form-control" id="description_input">
                  <p class="text-start fst-italic fs-6 text-warning">Obs: serão ignorados campos com nome repetido</p>
                </div>
                <div class="col col-sm text-end mt-2">
                  <br>
                  <input type="button" class="btn btn-primary" onclick="addDescription()" value="Adicionar">
                </div>
              </div>
              <div id="descriptions" class="fst-italic"></div>
              <div class="d-flex text-left">
                <input type="button" class="btn btn-success" onclick="register()" value="Cadastrar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/product_upload.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>
